body {
    font-family: 'Proxima Nova Rg';
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    overflow-x: hidden;
    font-weight: normal;
    font-style: normal;
    padding-right:0 !important;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('../fonts/ProximaNova-Black.eot');
    src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/ProximaNova-Black.woff') format('woff'),
        url('../fonts/ProximaNova-Black.ttf') format('truetype'),
        url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('../fonts/ProximaNovaT-Thin.eot');
    src: url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
        url('../fonts/ProximaNovaT-Thin.ttf') format('truetype'),
        url('../fonts/ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('../fonts/ProximaNovaCond-Semibold.eot');
    src: url('../fonts/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaCond-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNovaCond-Semibold.woff') format('woff'),
        url('../fonts/ProximaNovaCond-Semibold.ttf') format('truetype'),
        url('../fonts/ProximaNovaCond-Semibold.svg#ProximaNovaCond-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: url('ProximaNovaCond-Regular.eot');
    src: url('ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaCond-Regular.woff2') format('woff2'),
        url('ProximaNovaCond-Regular.woff') format('woff'),
        url('ProximaNovaCond-Regular.ttf') format('truetype'),
        url('ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('ProximaNova-Medium.eot');
    src: url('ProximaNova-Medium.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Medium.woff2') format('woff2'),
        url('ProximaNova-Medium.woff') format('woff'),
        url('ProximaNova-Medium.ttf') format('truetype'),
        url('ProximaNova-Medium.svg#ProximaNova-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



html {
    overflow-x: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.section {
    padding: 50px 0px;
}


/*preloader*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
}

.sk-cube-grid {
    width: 400px;
    height: 200px;
    margin: auto;
    position: relative;
    top: 30%;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #e1b943;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.container {
    max-width: 1320px !important;
}

.logo_site {
    margin-right: 90px;
    position: relative;
}

.sep {
    position: relative;
}

.sep::before {
    position: absolute;
    content: url(../images/sep_left.png);
    width: 1px;
    height: 60px;
    top: -8px;
    left: -45px;
}

header {
    width: 100%;
    transition: all ease 0.5s 0s;
    z-index: 999;
    background: #fdfdfd;
    box-shadow:0px 17px 20px -20px rgba(0, 0, 0, 0.10);
}

header.sticky {
    position: fixed;
    background: #fdfdfd;
    transition: all ease 0.5s 0s;
    box-shadow: 0px 15px 39px -22px rgba(0, 0, 0, 0.20);
    top: 0;
}

header.sticky .navbar {
    padding: 1rem 1rem;
}

header .navbar {
    padding: 2.3rem 1rem;
}

header .navbar-nav .nav-link {
    color: #000;
}

header .navbar-nav a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
}

header .navbar-nav a:hover {
    color: #2048ca;
    text-decoration: none;
}

header .navbar-nav a.active {
    color: #2048ca;
    text-decoration: none;
}

header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-toggler-icon {
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: middle;
    content: url(../images/ico_c.png);
}
header .navbar-expand-lg .navbar-nav .nav-link i {
    margin-right: 6px;
}

.top_btn {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    background: #000000;
    color: #fff !important;
    padding:0px 25px;
}

.top_btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.2);
    background: #2048ca;
    color: #fff !important;
}

.top_btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(146, 148, 248, 0.4), transparent);
    transition: all 650ms;
}

.top_btn:hover:before {
    left: 100%;
}

.top_btn .nav-link {
    color: #fff !important;
}

.top_btn .nav-link:hover {
    color: #fff !important;
}

/* banner section */

.banner {
    background: url(../images/banner.png) center no-repeat;
    background-size: cover;
    height: 644px;
}

.coin_balance {
    height: 50px;
    text-align: center;
    padding: 15px 0px 12px 0px;
    background: url(../images/sep_line.png) center bottom no-repeat;
}

.coin_balance ul {
    width: 100%;
    margin-bottom: 0;
}

.coin_balance ul li {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.coin_balance .list-inline-item:not(:last-child) {
    margin-right: 3.5rem;
}

.coin_balance ul li img {
    position: relative;
    top: -3px;
    margin-right: 15px;
}

.main_banner {
    margin-top: 110px;
}

.banner_txt {
    position: relative;
    padding-top: 10px
}

.banner_txt h2 {
    font-size: 62px;
    font-weight: 900;
    color: #fff;
}

.banner_txt h2 span {
    color: #00aeff;
}

.banner_txt p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.top_frm {
    background: #f1f1f1;
    box-shadow: 0px 15px 39px -22px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    min-height: 464px;
    position: relative;
}

.coin_img {
    position: relative;
    height: 550px;
}

.coin_img::before {
    position: absolute;
    content: url(../images/coin.png);
    left: -100px;
    bottom: 48px;
}

.top_frm .nav-tabs {
    border-bottom: 0px solid #dee2e6;
    background: #fff;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.top_frm .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    padding: 15px 0;
    margin: 0px 10px;
    position: relative;
}
.top_frm .nav-tabs .nav-link:after {
    background: #ddd;
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}

.top_frm .nav-tabs .nav-link.active {
    color: #000;
    border: 1px solid transparent;
}
.top_frm .nav-tabs .nav-link.active:after {
    background: #2048ca;
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}

.top_frm .nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 33%;
    text-align: center;
}

.top_frm .tab-content {
    padding: 40px;
}

.frm_div {
    margin-bottom: 20px;
}

.values {
    color: #b0b0b0;
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 37px;
}

.selct_div {
    display: flex;
    position: relative;
    margin: 0 0 0px 0px;
    width: 100%;
    height: 80px;
    background: white;
    box-shadow: 0px 15px 39px -22px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.currlabel {
    position: absolute;
    top: 9px;
    left: 12px;
    font-size: 16px;
    color: #747474;
}

.selct_div input {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0px;
    padding: 46px 12px 15px;
    width: calc(100% - 100px);
    height: 80px;
    font-size: 25px;
    font-weight: bold;
    outline: 0px;
    border: 0px solid rgba(128, 163, 182, 0.22);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #2048ca;
}

.my_div {
    position: relative;
}

.currency_div {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 80px;
}

.cur_div {
    position: absolute;
    top: 9px;
    left: 12px;
    z-index: 998;
    font-size: 16px;
    color: #747474;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.frm_btn {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    background: #2048ca;
    color: #fff !important;
    padding: 12px 25px;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.frm_btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.2);
    background: #2048ca;
    color: #fff !important;
    text-decoration: none;
}

.frm_btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(146, 148, 248, 0.4), transparent);
    transition: all 650ms;
}

.frm_btn:hover:before {
    left: 100%;
}
.bal{
    display: flex;
    margin-bottom: 10px;
}

.amt{
    color:#747474;
    font-size: 16px;
    width: 60%;
}
.val{
    color:#000;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    width:40%;
}
.blu{
    color:#2048ca;
}

.by_bxv{
    background:#fff;
    box-shadow:0px 11px 23px -10px rgba(0, 0, 0, 0.20);
    padding:20px;
    margin:15px 0 25px 0;
    border-radius: 10px;
    position: relative;
}
.buy_img{
    position: absolute;
    width: 46px;
    height:46px;
    top:-21px;
    right: 0;
    left: 0;
    margin:0 auto;
}
.by_bxv h3{
    font-size: 18px;
    font-weight: bold;
    color:#000;
    text-align: center;
    margin:20px 0;
}

.by_frm{
    display: flex;
}

.frm_input{
    width:50%;
}

.frm_input .form-control {
    display: block;
    width: 100%;
    height:60px;
    padding: .375rem 0rem;
    font-size:48px;
    font-weight:900;
    line-height:60px;
    color: #b7b7b7;
    background-color: #fff;
    background-clip: padding-box;
    border:0px solid #ced4da;
    border-bottom:1px solid #ced4da;
    border-radius: 0rem; 
    text-align: center;
}
.frm_input ::placeholder{
    color: #b7b7b7;
}
.frm_input .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0);
}
.frm_slt{
    width:50%;
}
.frm_slt .custom-select {
    display: inline-block;
    width: 100%;
    height:60px;
    padding: .375rem 1.75rem .375rem .25rem;
    font-size:48px;
    font-weight: 900;
    line-height:60px;
    color: #f6921a;
    vertical-align: middle;
    background: #fff url(../images/arr.png) no-repeat right .1rem center/14px 9px;
    border:0px solid #ced4da;
    border-radius: 0rem;
   
}
.frm_slt  .custom-select:focus {
    border-color: none;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0);
}
/* clientsays */

.page_tit h2 {
    font-size: 28px;
    color: #000;
    font-family: 'Proxima Nova Bl';
    text-align: center;
    margin-bottom: 40px;
}

.client_sec {}

.cli_bx {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.cli_bx p {
    font-size: 14px;
    color: #2048ca;
    margin: 20px 0px 40px 0px;
    position: relative;
}

.cli_bx p::before {
    position: absolute;
    content: url(../images/q1.png);
    left: 0;
    top: -20px;
}

.cli_bx p::after {
    position: absolute;
    content: url(../images/q2.png);
    right: 0;
    bottom: -20px;
}

.cli_bx h5 {
    font-size: 18px;
    color: #747474;
    position: relative;
    font-weight: bold;
}

.cli_bx h5::before {
    position: absolute;
    content: url(../images/sep_btm.png);
    left: 0;
    right: 0;
    top: -35px;
    margin: 0 auto;
}

/* services section */

.service_sec {}

.ser_bx {
    background: #fff;
    padding: 20px;
    height: 120px;
    align-items: center;
    margin-bottom: 15px;
}

.ser_bx img {
    width: 62px;
    height: 53px;
    margin-right: 50px;
}

.ser_bx h3 {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
}

/* faq section */


.faq_sec {}

.Accordions {
    display: block;
    margin: auto;
}

.Accordion_item {
    width: 100%;
    height: auto;
    margin: 5px 0 20px 0;
    box-shadow: 0px 15px 39px -22px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.Accordion_item:first-child {
    margin-top: 50px;
}

.Accordion_item .title_tab {
    width: 100%;
    background-color: #fff;
    color: #FCFCFC;
    padding: 25px 30px;
    cursor: pointer;
    transition: background-color .3s ease-in;
    border-radius: 10px;
}

.Accordion_item .title_tab .title {
    font-size: 18px;
    position: relative;
    margin-bottom: 0;
    color: #000;
    font-weight: bold;
    padding-left: 175px;
}

.Accordion_item .title_tab .title:before {
    position: absolute;
    content: url(../images/qm.png);
    left: 30px;
    top: -10px;
}

.Accordion_item .title_tab .title .icon {
    position: absolute;
    right: 1%;
    top: -10px;
    transition: transform 0.3s ease-in;
}

.Accordion_item .title_tab .title .icon:before,
.Accordion_item .title_tab .title .icon:after {
    content: '';
    position: absolute;

}

.Accordion_item .title_tab .title i {
    color: #2048ca;
    font-size: 32px;
}


.inner_content {
    width: 100%;
    height: auto;
    display: none;
    overflow: hidden;
}

.inner_content p {
    width: 98%;
    margin: auto;
    padding: 30px 15px 15px 193px;
    font-size: 16px;
    line-height: 28px;
    opacity: 0;
    transform: translate3d(0px, 60px, 0px);
    transition: transform 0.6s cubic-bezier(0, 0.99, 0.44, 1.01), opacity 0.8s 0.1s cubic-bezier(0, 0.99, 0.44, 1.01);
}

/* ================================= */
.Accordion_item .title_tab.active {
    background-color: #fff;
    box-shadow: 0px 15px 39px -22px rgba(0, 0, 0, 0.20);
    transition: background-color .3s ease-in;
}

.Accordion_item .title_tab.active .title .icon {
    transform: rotate(180deg);
    transition: transform .3s ease-in;
    top: 0px;
}

.Accordion_item .title_tab:hover {
    background-color: #fff;
    box-shadow: 0px 15px 39px -22px rgba(0, 0, 0, 0.20);
    transition: background-color .3s ease-in;
}

.Accordion_item .inner_content p.show {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: opacity 0.8s cubic-bezier(0, 0.99, 0.44, 1.01), transform 0.6s 0.1s cubic-bezier(0, 0.99, 0.44, 1.01);
}

/* ================================= */
.inner_content p span {
    font-size: 14px;
    line-height: 30px;
    color: #000
}

.inner_content p b {
    color: #F44336;
    font-size: 18px;
}


/* footer */

footer {
    background: url(../images/footer.png) center no-repeat;
    background-size: cover;
    min-height: 468px;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-top: 20px;
}

.btm_logo {
    margin: 30px 0px;
}

.btm_link ul {
    margin: 30px 0px;
    display: inline-block;
}

.btm_link ul li {
    list-style: none;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin: 0px 30px !important;
}

.btm_link ul li a {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px transparent solid;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

.btm_link ul li a:hover {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px #fff solid;
}

.social {
    margin: 30px 0px;
}

.social ul li {
    margin: 0px 10px !important;
}

.social ul li a {}

.social ul li a img {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.social ul li a:hover img {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

.copyright {
    background: rgb(32, 72, 202);
    background: linear-gradient(352deg, rgba(32, 72, 202, 1) 0%, rgba(29, 63, 173, 1) 100%);
    padding: 20px 0px;
}

.copyright ul {
    margin-bottom: 0;
}

.copyright ul li {
    font-size: 14px;
    color: #fff;
}

.copyright ul li a {
    font-size: 14px;
    color: #fff;
    margin: 0px 20px 0px 0px;
}

/* Login page css */

.page_modal .modal-content {
    width: 100%;
    pointer-events: auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    
}
.page_modal .modal-dialog {
    max-width:430px;
    margin: 6rem auto;
}
.page_modal .modal-header {
    background:#fff;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0px solid #dee2e6;
    padding:6px;
}
.page_modal .modal-body {
    padding:40px;
}
.page_modal .form-control {
    display: block;
    width: 100%;
    height: 80px;
    padding: 39px 12px 10px 12px;
    color: #2048ca;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0px 15px 39px -22px rgba(0, 0, 0, 0.20);
   
}
.pre_text{
    color: #747474;
    font-size: 16px;
    position: absolute;
    top: 15px;
    left: 13px;
}
.page_modal .form-group {
    margin-bottom: 1rem;
    position: relative;
}
.after_text{
    color: #b0b0b0;
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 13px;
}
.after_text a{
    color: #b0b0b0;
    font-size: 14px;
    text-decoration:none;
}

.page_modal ::placeholder {
    color: #2048ca;
    font-size: 20px;
    font-weight: bold;
  }
.page_modal .modal-title {
    margin-bottom: 0;
    line-height: 46px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.page_modal .input-group .form-control {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
    height:40px;
    padding: 10px 12px 10px 12px;
}
.page_modal .input-group .input-group-prepend .input-group-text{
    background: url(../images/id.png) no-repeat;
}
.page_modal .input-group-text {
    padding:6px 10px 4px 10px;
    margin-bottom: 0;
    color: #4500af;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 0px solid #ced4da;
    border-radius: 10px;
    font-family: 'Exo', sans-serif;
}
.page_modal .modal-header .close {
    padding: 1rem 1rem;
    margin: 0;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 16px;
    color: #b0b0b0;
    text-shadow: 0 0px 0 #fff;
    opacity: 1;
    background: #efefef !important;
    border-top-right-radius: 10px;
}
button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

/* user pages css */

.user {
    background: url(../images/banner.png) center top no-repeat;
    background-size: cover;
    min-height: 644px;
}

.user h3{
    font-size:62px;
    color: #fff;
    font-weight: 900;
    text-align:center;
    margin:50px 0px;
}
.user_frm {
    background: #f1f1f1;
    box-shadow: 0px 15px 39px -22px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    position: relative;
    margin-bottom: 50px;
}

.user_frm .nav-tabs {
    border-bottom: 0px solid #dee2e6;
    background: #fff;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.user_frm .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    padding: 15px 20px;
    margin: 0px 10px;
    position: relative;
}
.user_frm .nav-tabs .nav-link:after {
    background: #ddd;
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}

.user_frm .nav-tabs .nav-link.active {
    color: #000;
    border: 1px solid transparent;
}
.user_frm .nav-tabs .nav-link.active:after {
    background: #2048ca;
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}

.user_frm .nav-tabs .nav-item {
    margin-bottom: -1px;
    text-align: center;
}

.user_frm .tab-content {
    padding: 40px;
}

.pro_bx p{
    font-size: 14px;
    color:#000;
    font-weight:600;
    font-style: normal;
    
}

.pro_bx .form-control {
    display: block;
    width: 100%;
    height: 80px;
    padding: 39px 12px 10px 12px;
    color: #2048ca;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0px 15px 39px -22px rgba(0, 0, 0, 0.20);
   
}
.pre_text{
    color: #747474;
    font-size: 16px;
    position: absolute;
    top: 15px;
    left: 13px;
}
.pro_bx .form-group {
    margin-bottom: 1rem;
    position: relative;
}
.pro_bx ::placeholder {
    color: #2048ca;
    font-size: 20px;
    font-weight: bold;
  }
  .pro_bx h4{
      font-size: 18px;
      color:#000;
      font-weight: bold;
  }
  .page_table .table thead th {
    vertical-align:middle;
    border-bottom: 0px solid #dee2e6;
    border-top: 0;
    background: #fff;
    box-shadow: 0px 2px 29px -17px rgba(0, 0, 0, 0.50);
    font-size: 16px;
    color:#747474;
    padding: .50rem;
    white-space: nowrap;
}
.page_table .table {
    margin-bottom: 0;
}

.page_table .table thead tr:first-child th:first-child { border-top-left-radius: 10px; }
.page_table .table thead tr:first-child th:last-child { border-top-right-radius: 10px; }
.page_table .table thead tr:last-child th:first-child { border-bottom-left-radius: 10px; }
.page_table .table thead tr:last-child th:last-child { border-bottom-right-radius: 10px; }

.page_table .table td {
    padding: .50rem;
    vertical-align: middle;
    border-top: 0px solid #dee2e6;
    font-size: 14px;
    white-space: nowrap;
}

.page_table .table td a{
    color: #2048ca;
    text-decoration:none;
    border-bottom:1px #2048ca solid;
}

.acc_table{
    background:#fff;
    box-shadow: 0px 15px 39px -22px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    padding:10px;
}

.acc_table .table td {
    padding:2px 20px;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
    font-size: 14px; 
    color:#000;
    font-weight: 600;
    white-space: nowrap;
}
.acc_table .table{
    margin-bottom:0;
}

/* contact us style */

.contact_sec{
    padding:50px 0px;
}
.con_bx{
    background: #f0f0f0;
    box-shadow: 0px 15px 39px -22px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.con_tit{
    background:#fdfdfd;
    font-weight: bold;
    color:#000;
    font-size: 18px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding:12px 10px;
}

.con_frm{
    padding:30px 50px;
}

.con_frm .form-control {
    display: block;
    width: 100%;
    height: 80px;
    padding: 39px 12px 10px 12px;
    color: #2048ca;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0px 15px 39px -22px rgba(0, 0, 0, 0.20);
   
}
.pre_text{
    color: #747474;
    font-size: 16px;
    position: absolute;
    top: 15px;
    left: 13px;
}
.con_frm .form-group {
    margin-bottom: 1rem;
    position: relative;
}

.con_frm ::placeholder {
    color: #2048ca;
    font-size: 20px;
    font-weight: bold;
  }

.con_frm textarea{
    height:200px !important;
    color: #2048ca !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

.modal-backdrop.show {
    opacity: .77;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #2048ca;
}




/* new changes */

.ex_cen {
    position: relative;
    display: flex;
    flex-flow: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 50px 0px 50px;
}
.exchange_in {
    flex-basis: 468px;
    border-radius: 8px;
    box-shadow: rgb(35, 43, 51, 0.2) 3px 3px 34px;
    position: relative;
    background: #fff;
    padding: 15px;
}
.exchange-block {
    display: flex;
    width: 100%;
    padding: 15px 0px;
    /* min-height: 336px; */
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
}

.selct_divex {
    display: flex;
    position: relative;
    margin: 0.8rem 0px;
    width: 100%;
    height: 64px;
    background: white;
}
.currlabel {
    position: absolute;
    top: 9px;
    left: 12px;
    font-size: 11px;
    font-weight: 600;
    color: rgb(85, 127, 150);
}
.selct_divex input {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0px;
    padding: 38px 12px 22px;
    width: calc(100% - 100px);
    height: 66px;
    font-size: 20px;
    font-weight: 600;
    outline: 0px;
    border: 2px solid rgba(128, 163, 182, 0.22);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.selct_divex .currency_div {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 66px;
}
.selct_divex .chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selct_divex .chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 66px;
    border: 2px solid rgba(128, 163, 182, 0.22);
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 66px;
    font-size: 16px;
    border-left: 0;
}

.selct_divex  .chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.selct_divex .chose-image-small {
    width: 30px;
    max-height: 30px;
    vertical-align: middle;
    margin: -3px 3px 0 0;
}

.selct_divex .chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}
.selct_divex .chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/chosen-sprite.png) no-repeat 0px 30px;
}

.selct_divex .chosen-container-active.chosen-with-drop .chosen-single div b {
    background: url(../images/chosen-sprite1.png) no-repeat 0px 30px;
}

.selct_divex .chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #f5f5f5;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: linear-gradient(#eee 20%, #fff 80%);
    box-shadow: 0 1px 0 #fff inset;
}
.selct_divex .chosen-container-active .chosen-single {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.selct_divex .chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 66px;
    border: 2px solid rgba(128, 163, 182, 0.22);
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 40px;
    font-size: 16px;
    border-left: 0;
}
.selct_divex .chosen-container a {
    cursor: pointer;
}


.ac_bx {
    border-radius: 8px;
    box-shadow: rgb(35, 43, 51, 0.2) 3px 3px 34px;
    position: relative;
    background: #fff;
    padding: 0px;
    margin: 15px 0px;
}

.ac_bx .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .0);
    border-bottom: 0px solid rgba(0, 0, 0, .125);
}

.ac_bx .btn-link {
    font-weight: 600;
    color: #666;
    text-decoration: none;
    padding: 0;
}

.ac_bx .card {
    border: 0px solid rgba(0, 0, 0, .125);
}

.ac_bx .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px 20px;
}

.ac_bx ul li {
    color: rgb(85, 127, 150);
    font-size: 13px;
    line-height: 20px;
    list-style: none;;
}

.ac_bx ul li span {
    color: rgb(57, 66, 71);
    margin-left: 0.7rem;
    font-weight: 600;
}

.title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: rgb(57, 66, 71);
    margin: 0px 0px 8px;
}
.wall_bx {
    border-radius: 8px;
    box-shadow: rgb(35, 43, 51, 0.2) 3px 3px 34px;
    position: relative;
    background: #fff;
    padding: 15px;
    margin: 15px 0px;
}

.exchange-button:hover {
    color: #fff;
    text-decoration: none;
}

.exchange-button {
    margin: 12px 0px;
    width: 100%;
    color: rgb(255, 255, 255);
    background:#1f59fb;
    padding: 14px 16px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
    border: none;
    text-decoration: none;
}
.left-side {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.back-button:hover {
    color: rgb(85, 127, 150);
    text-decoration: none;
}

.back-button {
    color: rgb(85, 127, 150);
    background: rgba(128, 163, 182, 0.15);
    padding: 12px 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
    border: none;
}

.checklabel {
    font-size: 14px;
    line-height: 20px;
    color: rgb(85, 127, 150);
}
.value {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px;
    color: rgb(57, 66, 71);
        word-break: break-word;
}
.notice {
    color: rgb(180, 180, 180);
    font-size: 10px;
    line-height: 12px;
}
.confirm_bx {
    border-radius: 8px;
    box-shadow:rgb(35, 43, 51,0.2) 0px 11px 12px;
    position: relative;
    background: #fff;
    padding: 0 15px;
    margin: 15px 0px;
}
.checkout_tit {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
}

.id_div {
    display: block;
    text-align: center;
}

.center-wrapper {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: left;
    background: white;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    border-radius: 32px;
    padding: 10px 15px;
    border: 2px solid rgba(128, 163, 182, 0.1);
    margin-bottom: 20px;
}

.copy-button {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 10px;
}
.copy-button i {
    color: #f73068;
    font-size: 20px;
}

.ex_ac p {
    text-align: center;
    color: #222;
    font-size: 14px;
    line-height: 20px;
}
.copy-action {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #f73068;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    margin-top: 5px;
}
.copy-action i {
    margin-right: 8px;
}

.qr {
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.qr img {
    width: 100%;
}

.time {
    font-size: 16px;
    line-height: 24px;
    color: rgb(85, 127, 150);
}
.description {
    font-size: 12px;
    line-height: 16px;
}

.arrow-left-icon {
    background-image: url(../images/arrow-left.svg);
    display: inline-block;
    width: 13px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center center;
}
.mrw-1{margin-right: .25rem;}

  .mlw-1{margin-left: .25rem;}
